@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "About";
}

<h2>Curriculum vitae</h2>
<br />
<div class="well">
    <div style="text-align: center">
        <ul style="list-style: none">
            <h4>Educations:</h4>
            <li>9 years of primary school.</li>
            <li>3 years of high school (IT-program network John Bauer)</li>
            <li>8 months to become a bricklayer 2009 (Lernia)</li>
            <li>6 months to become a truck driver 2016 (YrkesAkademin)</li>
            <li>6 months to become a truck driver 2016 (YrkesAkademin)</li>
            <li>6 months to become a junior full-stack developer .NET (2018-02-19 - ongoing)</li>
            <br />
            <h4>Work experience:</h4>
            <li>Truck driver at MNT Småland (2017-09-01 – 2018-02-01)</li>
            <li>Truck driver at PostNord (2017-06-05 – 2017-08-18)</li>
            <li>Assembler at Volvo in Braås (2010-08-09 - 2014-05-01)</li>
            <li>Salesman at Aditro (2008-2009)</li>
            <li>Summer job as a waiter at High Chapparal (2008)</li>
            <li>Apprentice as ventilation assembler at Bravida (2007)</li>
            <li>Summer job at Volvo in Braås (2005 & 2006)</li>
            <br />
            <h4>Skills:</h4>
            <li>Basic knowledge in: C#, HTML, CSS, Bootstrap, JavaScript, JQuery & ASP.NET MVC.</li>
            <li>Fluent in English.</li>
            <li>Driver’s license class: B/BE/C/CE</li>
            <li>YKB 2016-06-10</li>
            <li>ADR 2016-04-13</li>
            <li>Forklift Class A1-4 & B1-3</li>


        </ul>
    </div>
</div>

