@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Contacts";
}

<h2>Contact information</h2>
<br />
<div class="well well-sm">
    <div>
        <ul style="list-style: none; text-align:center">
            <li>Sebastian G</li>
            <li>Tel: 070-7899***</li>
            <li>sebbe1989@gmail.com</li>
        </ul>
    </div>
</div>


